In [66]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress

batting_data_path = "batting.csv"
batting_data = pd.read_csv(batting_data_path)
#batting_data.count()

In [41]:
years_not_desired = batting_data.loc[batting_data['yearID'] < 2018]

In [86]:
recent_batting_data = pd.merge(batting_data, years_not_desired, how = 'outer', indicator=True)
recent_batting_data = recent_batting_data.loc[recent_batting_data._merge == 'left_only']
recent_batting_data.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP', '_merge'],
      dtype='object')

In [87]:
recent_batting_data["Batting Average"] = recent_batting_data['H']/recent_batting_data['AB']

In [88]:
cleaned_batting_data = recent_batting_data.loc[:,['playerID', 'yearID', 'teamID', 'Batting Average']]
cleaned_batting_data.head()

         playerID  yearID teamID  Batting Average
104326  abreujo02    2018    CHA         0.264529
104327  acunaro01    2018    ATL         0.293303
104328  adamewi01    2018    TBA         0.277778
104329   adamja01    2018    KCA              NaN
104330  adamsau02    2018    WAS              NaN

In [99]:
cleaned_batting_data["Batting Average"] = cleaned_batting_data["Batting Average"].fillna(0)
cleaned_batting_data = cleaned_batting_data.set_index('yearID')
cleaned_batting_data.head()

         playerID teamID  Batting Average
yearID
2018    abreujo02    CHA         0.264529
2018    acunaro01    ATL         0.293303
2018    adamewi01    TBA         0.277778
2018     adamja01    KCA         0.000000
2018    adamsau02    WAS         0.000000

In [97]:
cleaned_groupby = cleaned_batting_data.groupby(['yearID', 'teamID'])
cleaned_groupby.head()

AttributeError: 'DataFrameGroupBy' object has no attribute 'set_index'

In [78]:
type(cleaned_batting_data)

pandas.core.frame.DataFrame

In [ ]:
cleaned_batting_data.to_csv("batting_cleaned.csv", sep=",")