In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from pathlib import Path
import matplotlib.pyplot as plt
import scipy.stats as st

In [5]:
merged = Path('../data/mergedbattingandsalary.csv')
df = pd.read_csv(merged)
df.head()

  team  year    AB     H       AVG     salary
0  ARI  2019  5633  1419  0.251908   62990590
1  ARI  2020  1997   482  0.241362   20167910
2  ARI  2021  5489  1297  0.236291   65782480
3  ATL  2019  5560  1432  0.257554  115629465
4  ATL  2020  2074   556  0.268081   50392877

In [4]:
x_axis = df['salary']
y_axis = df['AVG']
plt.scatter(x_axis, y_axis)
plt.title('Batting Average vs Season Salary')
plt.ylabel('Batting Average')
plt.xlabel('Team Salary in Hundred Million Dollars')
plt.savefig('../images/scatter_AVG_vs_Salary.png')
plt.show()

NameError: name 'df' is not defined

In [3]:
print(f"The correlation coefficient between batting average and salary is {round(st.pearsonr(x_axis,y_axis)[0],2)}")

NameError: name 'x_axis' is not defined