In [2]:
import json
from datetime import datetime
import matplotlib.pyplot as plt
import pandas as pd
import meteostat
from meteostat import Point, Monthly, Daily

# Import the API key
#from config import geoapify_key

In [3]:
coords = pd.read_csv('../data/mlb_locations.csv')

In [85]:
coords

,Unnamed: 0,team,address,lat,lng
0,0,LAA,"2000 Gene Autry Way, Anaheim, CA. 92806",33.799572,-117.889031
1,1,ARI,"P.O. Box 2095, Phoenix, AZ. 85001",33.452922,-112.038669
2,2,ATL,"P.O. Box 4064, Atlanta, GA. 30302",33.746910,-84.391239
3,3,BAL,"333 W. Camden Street, Baltimore, MD. 21201",39.285243,-76.620103
4,4,BOS,"4 Yawkey Way, Boston, MA 02215",42.346613,-71.098817
5,5,CHN,"1060 Addison Street, Chicago, IL 60616",41.947201,-87.656413
6,6,CHA,"333 W. 35th Street, Chicago, IL 60616",41.830883,-87.635083
7,7,CIN,"100 Cinergy Field, Cincinnati, OH 45202",39.107183,-84.507713
8,8,CLE,"2401 Ontario Street, Cleveland, OH 44115",41.495149,-81.687090
9,9,COL,"Coors Field, 2001 Blake Street, Denver, CO 802...",39.756980,-104.965329
10,10,DET,"Comerica Park, 2100 Woodward Ave., Detroit, MI...",42.346354,-83.059619
11,11,MIA,"2269 NW 199th Street, Miami, FL 33056",25.954428,-80.238164
12,12,HOU,"P.O. Box 288, Houston, TX 77001-0288",29.760450,-95.369784
13,13,KCA,"P.O. Boz 419969, Kansas City, MO 64141",39.102220,-94.583559
14,14,LAN,"1000 Elysian Park Ave., Los Angeles, CA 90012",34.072437,-118.246879
15,15,MIL,"P.O. Box 3099, Milwaukee, WI 53201-3099",43.042050,-87.905599
16,16,MIN,"501 Chicago Ave. S., Minneapolis, MN 55415",44.974346,-93.259616
17,17,WAS,"1500 South Capitol Street SE, Washington, DC",38.870000,-77.010000
18,18,NYN,"Roosevelt Ave & 126th Street, New York, NY 11368",40.755350,-73.843219
19,19,NYA,"Yankee Stadium, E. 161 Street & River Ave., Ne...",40.819782,-73.929939
20,20,OAK,"Oakland Coliseum, 700 Coliseum Way, Oakland, C...",37.749230,-122.196487
21,21,PHI,"P.O. Box 7575, Philadelphia, PA 19101",39.952313,-75.162392
22,22,PIT,"600 Stadium Circle, Pittsburgh, PA 15212",40.461503,-80.008924
23,23,SLN,"250 Stadium Plaza, St. Louis, MO 63102",38.629683,-90.188247
24,24,SDN,"P.O. Box 2000, San Diego, CA 92112-2000",32.752148,-117.143635
25,25,SFN,"Pacific Bell Park, 24 Willie Mays Plaza, San F...",37.779870,-122.389754
26,26,SEA,"P.O. Box 41000, 411 First Ave. S., Seattle, WA...",47.601740,-122.330829
27,27,TBA,"1 Tropicana Drive, St. Petersburg, FL 33705",27.768487,-82.648191
28,28,TEX,"1000 Ballpark Way, Arlington, TX 76011",32.750156,-97.081117
29,29,TOR,"1 Blue Jay Way, Suite 3200, Toronto, ONT M5V 1J1",43.641653,-79.391700

In [86]:
start = datetime(2019, 3, 31)
end = datetime(2019, 9, 30)


location = Point(33.799572, -117.889031)

# Get daily data for 2018
data = Monthly(location, start, end)
data = data.fetch()
data.head(20)

            tavg  tmin  tmax  prcp  wspd    pres  tsun
time
2019-03-01  15.9  11.2  20.6  50.0   8.7  1017.1   NaN
2019-04-01  17.9  13.9  23.3   1.0   9.8  1015.2   NaN
2019-05-01  17.3  14.0  21.5  13.0   9.6  1013.3   NaN
2019-06-01  20.3  17.3  25.2   1.0   9.1  1013.6   NaN
2019-07-01  23.0  19.1  28.5   0.0   6.5  1013.6   NaN
2019-08-01  23.5  19.0  29.7   0.0   8.8  1012.7   NaN
2019-09-01  23.6  19.3  29.6   0.0   8.3  1012.0   NaN

In [101]:
start = datetime(2019, 3, 31)
end = datetime(2019, 9, 30)

big_list = []
for i,row in coords.iterrows():
    location = Point(row['lat'], row['lng'])
    
    data = Monthly(location, start, end)
    big_list.append(data.fetch().mean())

In [115]:
weather_df = pd.DataFrame(big_list, columns = ['tavg','tmin','tmax','prcp','wspd','pre','tsun'])
weather_df.reset_index()
weather_df_2 = pd.merge(weather_df,coords,left_index=True, right_index=True)
weather_df_2
new_df = weather_df_2[['team','tavg','wspd','prcp']]
new_df

   team       tavg       wspd        prcp
0   LAA  20.214286   8.685714    9.285714
1   ARI  29.100000  11.957143    4.142857
2   ATL  22.571429  11.842857   79.571429
3   BAL  20.471429  10.657143   83.857143
4   BOS  16.942857  17.057143  107.000000
5   CHN  16.828571  15.500000  144.600000
6   CHA  16.828571  15.500000  144.600000
7   CIN  18.585714  11.457143  112.714286
8   CLE  16.728571  15.800000   96.000000
9   COL  18.583333  13.466667   30.771429
10  DET  16.000000  13.200000  101.671429
11  MIA  27.200000  14.542857  129.428571
12  HOU  25.828571  12.842857  138.285714
13  KCA  20.342857  15.628571  166.571429
14  LAN  19.242857  11.985714   10.571429
15  MIL  14.928571  14.628571  108.571429
16  MIN  14.542857  13.328571  116.285714
17  WAS  21.500000  13.571429   88.142857
18  NYN  17.728571  17.228571  109.571429
19  NYA  18.614286  13.671429  129.428571
20  OAK  17.057143  15.457143   22.214286
21  PHI  19.800000  13.828571  109.142857
22  PIT  17.057143  11.085714  119.571429
23  SLN  20.057143  13.457143  139.000000
24  SDN  19.428571   9.842857    8.285714
25  SFN  16.857143  15.457143   22.214286
26  SEA  15.857143  12.128571   44.000000
27  TBA  26.300000  11.057143  151.142857
28  TEX  24.371429  17.342857   88.142857
29  TOR  14.228571  16.250000   73.328571

In [116]:
new_df.to_csv("../data/weather_2019.csv", sep=',')

In [4]:
start = datetime(2020, 3, 31)
end = datetime(2020, 9, 30)

big_list = []
for i,row in coords.iterrows():
    location = Point(row['lat'], row['lng'])
    
    data = Monthly(location, start, end)
    big_list.append(data.fetch().mean())

In [5]:
weather_df = pd.DataFrame(big_list, columns = ['tavg','tmin','tmax','prcp','wspd','pre','tsun'])
weather_df.reset_index()
weather_df_2 = pd.merge(weather_df,coords,left_index=True, right_index=True)
weather_df_2
new_df = weather_df_2[['team','tavg','wspd','prcp']]
new_df

   team       tavg       wspd        prcp
0   LAA  21.028571   7.657143   22.000000
1   ARI  30.357143  11.185714   11.000000
2   ATL  21.457143   9.714286  126.857143
3   BAL  19.600000  10.828571  130.428571
4   BOS  16.171429  17.485714   64.714286
5   CHN  17.585714  15.057143  110.785714
6   CHA  17.585714  15.057143  110.785714
7   CIN  18.042857   9.957143  108.714286
8   CLE  17.185714  15.928571  126.714286
9   COL  19.583333  13.733333   27.300000
10  DET  16.614286  12.400000  100.471429
11  MIA  27.700000  14.685714  209.428571
12  HOU  26.385714  12.614286  110.428571
13  KCA  19.771429  13.185714   97.428571
14  LAN  20.385714  10.585714   25.000000
15  MIL  15.742857  14.771429  103.571429
16  MIN  15.657143  13.871429   86.571429
17  WAS  20.528571  13.614286  128.428571
18  NYN  17.857143  17.928571   81.428571
19  NYA  18.200000  12.057143  110.857143
20  OAK  17.371429  14.742857   10.542857
21  PHI  19.228571  14.285714  114.142857
22  PIT  16.885714  11.428571   85.428571
23  SLN  19.485714  11.757143  115.285714
24  SDN  20.471429   9.642857   22.000000
25  SFN  17.414286  14.742857   10.542857
26  SEA  15.328571   8.885714   48.000000
27  TBA  26.785714  14.128571  123.142857
28  TEX  24.757143  16.657143  105.428571
29  TOR  14.857143  15.020000   58.085714

In [6]:
new_df.to_csv("../data/weather_2020.csv", sep=',')

In [7]:
start = datetime(2021, 3, 31)
end = datetime(2021, 9, 30)

big_list = []
for i,row in coords.iterrows():
    location = Point(row['lat'], row['lng'])
    
    data = Monthly(location, start, end)
    big_list.append(data.fetch().mean())

In [8]:
weather_df = pd.DataFrame(big_list, columns = ['tavg','tmin','tmax','prcp','wspd','pre','tsun'])
weather_df.reset_index()
weather_df_2 = pd.merge(weather_df,coords,left_index=True, right_index=True)
weather_df_2
new_df = weather_df_2[['team','tavg','wspd','prcp']]
new_df

   team       tavg       wspd        prcp
0   LAA  20.400000   6.985714    6.542857
1   ARI  29.428571  11.528571   16.428571
2   ATL  21.314286   7.871429   98.471429
3   BAL  20.042857  10.171429   96.000000
4   BOS  17.714286  16.800000  139.285714
5   CHN  18.471429  15.285714   74.057143
6   CHA  18.471429  15.285714   74.057143
7   CIN  18.257143   8.871429  100.457143
8   CLE  18.285714  15.800000   82.728571
9   COL  15.985714  14.128571   82.557143
10  DET  18.028571  12.428571   80.357143
11  MIA  26.328571  13.142857  137.000000
12  HOU  25.271429  12.100000  134.857143
13  KCA  20.557143  13.700000   98.114286
14  LAN  19.457143   4.200000    5.800000
15  MIL  17.028571  14.657143   52.428571
16  MIN  16.857143  12.371429   63.657143
17  WAS  20.857143  13.342857  118.571429
18  NYN  18.400000  11.614286  120.128571
19  NYA  18.528571  11.085714  120.557143
20  OAK  15.414286  16.100000    5.928571
21  PHI  19.657143  13.857143  111.428571
22  PIT  17.057143  10.771429   99.000000
23  SLN  19.828571  10.071429  112.857143
24  SDN  19.900000   9.771429    8.714286
25  SFN  15.600000  16.100000    5.928571
26  SEA  15.371429   8.671429   37.400000
27  TBA  26.300000  14.300000  100.071429
28  TEX  23.757143  12.157143  115.571429
29  TOR  14.957143  13.866667   76.171429

In [9]:
new_df.to_csv("../data/weather_2021.csv", sep=',')